{{extend 'layout.html'}}
<head>
<script src="{{=URL('static','js/phaser.js')}}"></script>
    <script src="{{=URL('static','js/jquery.js')}}"></script>
    <script src="{{=URL('static','js/jquery-ui.js')}}"></script>
</head>
  <body>
      <h1 style="text-align:center">
          ARRAYS
      </h1>
       <div id="gamearea" style="display:inline-block">
          
      </div>
      <div style="display:inline-block;width:300px; height:200px;border: 2px solid orange; background-color:pink;display:inline-block;color:black">
      <p>
          TABLA NOTES:
          <br>
          1: Hard Tabla Closed Open Ge
          <br>
          2: Hard Tabla Loud Ge
          <br>
          3: Hard Tabla Open Ge
          <br>
          4: Hard Tabla Open Na
          <br>
          5: Hard Tabla Pressed Ge
          <br>
          6: Hard Tabla Sliding Ge
          <br>
          7: Hard Tabla Softer Sur
          <br>
          8: Hard Tabla Thap
          </p>
      </div>
      <p>
          The Array object lets you <span style="color:orange">store multiple values in a single variable</span>. It stores a <span style="color:orange">fixed-size sequential collection of elements of the same type</span>. An array is used to store a collection of data, but it is often more useful to think of an array as a collection of variables of the same type.
           <br>
           Thus stored datas in arrays can be later used for the designed usage.
          <br>
          We can get the data at the stored index. <span style="color:orange">Index for array starts from 0 to (n-1) where n is the length of the array (no. of datas stored)</span>.
          <br>
          For example if we store [3,2,7,1] in myvar then we have 3 at index 0 , 2 at index 1 and so on. We can get the respected value at the given 
          index by writing "myvar[index]".
          <br>
          <span style="color:orange">Store multiple datas in the array "myvar" separated by commas and the datas should range between 1 to 8</span>. eg: var myvar=[3,2,7,1]
          <br>
          From the tabla notes above, the tabla note with value same as<span style="color:orange"> myvar[1] will be played</span>.
      </p>
      <div style="background-color: grey; padding: 4px; width: 300px">
          <p>
      var myvar=[<input type="text" id="textareaID"  />];
              <br>
              playnote(myvar[1]);
      </p>
      </div>
      <br>
<button onclick="printt()" style="background-color: lightblue; color:black">SUBMIT</button> 
      <p id="demo">
         
      </p>
      <button onclick="levelcomplete()" style="background-color: lightblue; color:black">CLICK HERE WHEN DONE</button>
  <script>

window.PhaserGlobal = { disableWebAudio: true };

var game = new Phaser.Game(800, 400, Phaser.CANVAS, 'gamearea', { preload: preload, create: create, update: update });

function preload() {


    //  Firefox doesn't support mp3 files, so use ogg
    game.load.audio('music1', "{{=URL('static','music/hardtabla-Closed-Open-Ge.wav')}}");
    game.load.audio('music2', "{{=URL('static','music/hardtabla-Loud-Ge.wav')}}");
    game.load.audio('music3', "{{=URL('static','music/hardtabla-Open-Ge.wav')}}");
    game.load.audio('music4', "{{=URL('static','music/hardtabla-Open-Na.wav')}}");
    game.load.audio('music5', "{{=URL('static','music/hardtabla-Pressed-Ge.wav')}}");
    game.load.audio('music6', "{{=URL('static','music/hardtabla-Sliding-Ge.wav')}}");
    game.load.audio('music7', "{{=URL('static','music/hardtabla-Softer-Sur.wav')}}");
    game.load.audio('music8', "{{=URL('static','music/hardtabla-Thap.wav')}}");
    game.load.image('disk', "{{=URL('static','images/drums.jpg')}}");
    game.load.image('circle1', "{{=URL('static','images/circles/circle1.jpg')}}");
    game.load.image('circle2', "{{=URL('static','images/circles/circle2.jpg')}}");
    game.load.image('circle3', "{{=URL('static','images/circles/circle3.jpg')}}");
    game.load.image('circle4', "{{=URL('static','images/circles/circle4.jpg')}}");
    game.load.image('circle5', "{{=URL('static','images/circles/circle5.jpg')}}");
    game.load.image('circle6', "{{=URL('static','images/circles/circle6.jpg')}}");
    game.load.image('circle7', "{{=URL('static','images/circles/circle7.jpg')}}");
    game.load.image('circle8', "{{=URL('static','images/circles/circle8.jpg')}}");
    //  Firefox doesn't support mp3 files, so use ogg

}
var text="";
var s;
var tone1, tone2, tone3, tone4, tone5, tone6, tone7, tone8;
var stick1,stick2,stick3,stick4,stick5,stick6,stick7,stick8;
var play=1, temp="";
var arr=[], flock=1, inn=0;
function create() {

    game.stage.backgroundColor = '#182d3b';
    game.input.touch.preventDefault = false;

    stick1= game.add.sprite(160, 320, 'circle1');
	stick1.scale.setTo(0.4,0.4);
    stick2= game.add.sprite(220, 320, 'circle2');
	stick2.scale.setTo(0.4,0.4);
    stick3= game.add.sprite(280, 320, 'circle3');
	stick3.scale.setTo(0.4,0.4);
    stick4= game.add.sprite(340, 320, 'circle4');
	stick4.scale.setTo(0.4,0.4);
    stick5= game.add.sprite(400, 320, 'circle5');
	stick5.scale.setTo(0.4,0.4);
    stick6= game.add.sprite(460, 320, 'circle6');
	stick6.scale.setTo(0.4,0.4);
    stick7= game.add.sprite(520, 320, 'circle7');
	stick7.scale.setTo(0.4,0.4);
    stick8= game.add.sprite(580, 320, 'circle8');
	stick8.scale.setTo(0.4,0.4);
    
    
    tone1 = game.add.audio('music1');
    tone2 = game.add.audio('music2');
    tone3 = game.add.audio('music3');
    tone4 = game.add.audio('music4');
    tone5 = game.add.audio('music5');
    tone6 = game.add.audio('music6');
    tone7 = game.add.audio('music7');
    tone8 = game.add.audio('music8');
    
    s = game.add.sprite(game.world.centerX, game.world.centerY, 'disk');
    s.scale.setTo(0.8,0.8);
    s.anchor.setTo(0.5, 0.7);


   
    stick1.inputEnabled = true;
    stick1.events.onInputDown.add(listener1, this);
    stick2.inputEnabled = true;
    stick2.events.onInputDown.add(listener2, this);
    stick3.inputEnabled = true;
    stick3.events.onInputDown.add(listener3, this);
    stick4.inputEnabled = true;
    stick4.events.onInputDown.add(listener4, this);
    stick5.inputEnabled = true;
    stick5.events.onInputDown.add(listener5, this);
    stick6.inputEnabled = true;
    stick6.events.onInputDown.add(listener6, this);
    stick7.inputEnabled = true;
    stick7.events.onInputDown.add(listener7, this);
    stick8.inputEnabled = true;
    stick8.events.onInputDown.add(listener8, this);
    
    
    tone1.onStop.add(soundStopped, this);
     tone2.onStop.add(soundStopped, this);
     tone3.onStop.add(soundStopped, this);
     tone4.onStop.add(soundStopped, this);
     tone5.onStop.add(soundStopped, this);
     tone6.onStop.add(soundStopped, this);
     tone7.onStop.add(soundStopped, this);
     tone8.onStop.add(soundStopped, this);
}
      function soundStopped()
      {
       inn++;
          flock=0;
      }
function listener1 () {
            tone1.play();
}
      function listener2() 
      {
          tone2.play();
      }
      
      function listener3() 
      {
          tone3.play();
      }
      function listener4() 
      {
          tone4.play();
      }
      function listener5() 
      {
          tone5.play();
      }
      function listener6() 
      {
          tone6.play();
      }
       function listener7() 
      {
          tone7.play();
      }
       function listener8() 
      {
          tone8.play();
      }


function update() {
   
}
function printt()
{
    var x=$("#textareaID").val();
    arr=x.split(",");
    var toplay=1;
    for (i = 0; i < arr.length; i++) {
        if(!(arr[i]>=1 && arr[i]<=8))
        {
            toplay=0;
            alert("You had to store all values between 1 to 8. Some values are differing.");
        }
    }
    text="";
        if(toplay==1)
        {
            if(arr.length>1)
            {
           temp="listener"+arr[1];
           document.getElementById("demo").innerHTML ="PLAYED TABLA NOTE "+arr[1];
           window[temp]();
            }
            else
            {
                alert("Store atleast 2 datas");
            }
        }
    
        
}
      function levelcomplete()
      {
          if(temp.indexOf("listener")>-1)
          {
              alert("Congrats for completing level 2.");
              ajax('{{=URL('codeandenjoy', 'levelsuccess', args=["2"])}}', [], ':eval');
          }
          else
          {
              alert("Please complete the task.");
          }
      }
      </script>
</body>
