{{extend 'layout.html'}}
<style>
.allimages
    {
        margin-left:auto;
        margin-right: auto;
        display:block;
       
    }
</style>
<a href="{{=URL('itocomputers','index')}}"><h3 >
    BACK
    </h3></a>
<p style="text-align: center">
    These are the basic parts of a desktop computer system.
</p>
<img class="allimages" src="{{=(URL('static','images/computers/all.png'))}}"/>
<br>
<p style="text-align: center">
    Now let us see each of them separately.
</p>
<br>
<img class="allimages" src="{{=(URL('static','images/computers/monitor.png'))}}"/>
<br>
<img class="allimages" src="{{=(URL('static','images/computers/keyboard.png'))}}"/>
<br>
<img class="allimages" src="{{=(URL('static','images/computers/mouse.png'))}}"/>
<br>
<img class="allimages" src="{{=(URL('static','images/computers/cpu.png'))}}"/>
<br>
<img class="allimages" src="{{=(URL('static','images/computers/printer.png'))}}"/>
<br>
<img class="allimages" src="{{=(URL('static','images/computers/speakers.png'))}}"/>
<br>
<a href="{{=URL('itocomputers','index')}}"><h3 >
    BACK
    </h3></a>
